<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=MATTASUS\SQL2014;Database=FantasyPremierLeague;uid=FantasyPremierLeague"
            providerName="System.Data.SqlClient" />
        <add name="FantasyPremierLeague"
            connectionString="Data Source=MATTASUS\SQL2014;Initial Catalog=FantasyPremierLeague;User ID=FantasyPremierLeague;Password=&quot;5FPdaU5rP1WgH6xK4KRFNDodlkwY2KsUsDqNXQN4ZGw=&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>